<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL" value="sqlite:///data/database_test.sqlite"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="5a79a1c866efef9ca1800f971d689f3e"/>
        <!--<env name="SYMFONY_DEPRECATIONS_HELPER" value="/.*/" />-->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />

    </php>

    <testsuites>
        <testsuite name="Functional">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Util</directory>
        </testsuite>
        <testsuite name="Repository">
            <directory>tests/Repository</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <!--<listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />-->
        <listener class="\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" />
    </listeners>
</phpunit>
