{% extends 'base.html.twig' %}
{% block title %}
    {{ category.name }}
{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <hr>
    <a class="btn btn-primary"  href="{{ path('category-create') }}">Create new category</a>
    <a  class="btn btn-primary" href="{{ path('category-list') }}">Go Back</a>


{% endblock %}


