{% extends 'base.html.twig' %}

{% block title %}
    Create New Product
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-primary" href="{{ path('product-list') }}">Go Back</a>
{% endblock %}